In [17]:
import pandas as pd

df = pd.read_csv("sources/book.csv")
df['FECHA HECHO'].value_counts()

C:\Users\jairo\AppData\Local\Temp\ipykernel_6832\3155847895.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("sources/book.csv")

01/01/2020    860
01/03/2020    662
08/03/2020    637
02/02/2020    590
16/02/2020    589
             ...
30/12/2011     17
23/12/2010     17
03/12/2010     14
28/12/2013     14
30/12/2010     13
Name: FECHA HECHO, Length: 4169, dtype: int64

In [3]:
df['FECHA HECHO']

0         01/01/2010
1         01/01/2010
2         01/01/2010
3         01/01/2010
4         01/01/2010
             ...
476956    05/01/2021
476957    14/01/2021
476958    26/03/2021
476959    27/03/2021
476960    15/04/2021
Name: FECHA HECHO, Length: 476961, dtype: object

In [5]:
df.describe()

            CANTIDAD
count  476961.000000
mean        1.707773
std         3.338677
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max       130.000000

In [6]:
data = df.dropna(how='all')

In [9]:
df['ARMAS MEDIOS'].value_counts()

CONTUNDENTES                   244944
SIN EMPLEO DE ARMAS            108779
NO REPORTADO                    71921
ARMA BLANCA / CORTOPUNZANTE     38070
NO REPORTA                       4421
ESCOPOLAMINA                     3863
ARMA DE FUEGO                    2323
CORTOPUNZANTES                   1167
CORTANTES                        1138
PUNZANTES                         334
-                                   1
Name: ARMAS MEDIOS, dtype: int64